[tool.poetry]
packages = [
    { include = "arrakisclient" },
    { include = "authzed" },
    { include = "validate" },
    { include = "grpcutil" },
]
authors = ["Authzed <support@authzed.com>"]
description = "Client library for the Authzed service."
name = "authzed"
version = "0.3.1"
readme = "README.md"

[tool.poetry.dependencies]
grpcio = "1.34.0"
protobuf = "^3.14.0"
async_generator = "^1.10"
dataclasses = {version = ">=0.6", markers = "python_version < \"3.7\""}
mock = "^4.0.3"
python = "^3.6"
typing-extensions = "^3.7.4"
protoc-gen-validate = "^0.4.1"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
grpcio-tools = "1.34.0"
isort = "^5.6.4"
jedi = "0.17.2"
mypy = "0.800"
mypy-protobuf = "2.6"
parso = "0.7.1"
pyflakes = "^2.2.0"
pytest = "^6.1.2"
pytest-asyncio = "^0.14.0"
python-language-server = "^0.36.2"

[tool.black]
exclude = '(^\.(.*)|^(.*)_pb2(_grpc)?\.py)'
line-length = 100

[tool.pytest.ini_options]
addopts = "-x"
log_level = "debug"
minversion = "6.0"

[tool.isort]
ensure_newline_before_comments = true
force_grid_wrap = 0
include_trailing_comma = true
line_length = 100
multi_line_output = 3
use_parentheses = true

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
