[tool.poetry]
authors = ["Authzed <support@authzed.com>"]
description = "Client library for SpiceDB."
name = "authzed"
packages = [
  {include = "authzed"},
  {include = "validate"},
  {include = "grpcutil"},
]
readme = "README.md"
version = "0.9.0"

[tool.poetry.dependencies]
async_generator = "^1.10"
google-api-core = "^2.4.0"
google_api = "^0.1.12"
grpcio = "^1.54"
mock = "^4.0.3"
protobuf = "~4.21"
protoc-gen-validate = ">=0.4.1,<0.11.0"
python = "^3.7"
typing-extensions = ">=3.7.4,<5"

[tool.poetry.dev-dependencies]
black = "^23.3.0"
grpcio-tools = "~1.51"
isort = "^5.6.4"
jedi = "0.17.2"
mypy = "1.0.1"
mypy-protobuf = "3.3.0"
parso = "0.7.1"
pyflakes = "^3.0.1"
pytest = "^7.1.3"
pytest-asyncio = "^0.21.0"
python-language-server = "^0.36.2"

[tool.black]
exclude = '(^\.(.*)|^(.*)_pb2(_grpc)?\.py)'
line-length = 100

[tool.pytest.ini_options]
addopts = "-x"
log_level = "debug"
minversion = "6.0"

[tool.isort]
ensure_newline_before_comments = true
force_grid_wrap = 0
include_trailing_comma = true
line_length = 100
multi_line_output = 3
use_parentheses = true

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
