---
name: "Lint"
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - "main"
  pull_request:
    branches: ["*"]
    types:
      # NOTE: these are the defaults
      - "opened"
      - "synchronize"
      - "reopened"
      # NOTE: we add this to let the conversion from draft trigger the workflows
      - "ready_for_review"
jobs:
  lint:
    name: "Format & Lint"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version:
          - "3.10"
      fail-fast: false
    steps:
      - uses: "actions/checkout@v6"
      - uses: "bewuethr/yamllint-action@v1.3.0"
        with:
          config-file: ".yamllint"
      - uses: "actions/setup-python@v6"
        with:
          python-version: "3.10"
      # Installs ruff and runs check
      - uses: "astral-sh/ruff-action@v3"
      # Check formatting as well
      - run: "ruff format --check --diff"
  codeql:
    name: "Analyze with CodeQL"
    runs-on: "ubuntu-latest"
    permissions:
      actions: "read"
      contents: "read"
      security-events: "write"
    strategy:
      fail-fast: false
      matrix:
        language: ["python"]
    steps:
      - uses: "actions/checkout@v6"
      - uses: "authzed/actions/codeql@main"
  trivy:
    name: "Analyze with Trivy"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - name: "Run Trivy vulnerability scanner"
        uses: "aquasecurity/trivy-action@master"
        with:
          scan-type: "fs"
          ignore-unfixed: true
          format: "sarif"
          output: "trivy-results.sarif"
          severity: "CRITICAL"
        env:
          TRIVY_DB_REPOSITORY: "public.ecr.aws/aquasecurity/trivy-db"
          TRIVY_JAVA_DB_REPOSITORY: "public.ecr.aws/aquasecurity/trivy-java-db"
      - name: "Upload Trivy scan results to GitHub Security tab"
        uses: "github/codeql-action/upload-sarif@v4"
        with:
          sarif_file: "trivy-results.sarif"
  mypy:
    name: "Type Check with Mypy"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "astral-sh/setup-uv@v7"
      - name: "mypy"
        run: "uv run --frozen mypy src/authzed"

  conventional-commits:
    name: "Lint Commit Messages"
    runs-on: "depot-ubuntu-24.04-small"
    if: "github.event_name == 'pull_request' && (github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.action == 'reopened' || github.event.action == 'edited')"
    steps:
      - uses: "actions/checkout@v5"
      - uses: "webiny/action-conventional-commits@v1.3.0"
