---
name: "Test"
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - "main"
  pull_request:
    branches: ["*"]
    types:
      # NOTE: these are the defaults
      - "opened"
      - "synchronize"
      - "reopened"
      # NOTE: we add this to let the conversion from draft trigger the workflows
      - "ready_for_review"
env:
  GRPC_VERSION: "1.68"
  BUF_VERSION: "1.30.0"
jobs:
  pytest:
    name: "Unit and Integration Tests"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "authzed/action-spicedb@v1"
        with:
          version: "latest"
      - name: "Install the latest version of uv and set the python version"
        uses: "astral-sh/setup-uv@v7"
        with:
          python-version: "${{ matrix.python-version }}"
      - name: "Run tests"
        run: "uv run --frozen pytest"
